body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  padding: 30px;
  background-image: url("background.jpg");
  background-size: cover;
}

textarea {
  width: 150px;
  height: 50px;
  line-height: 150%;
  border-radius: 12px;
  border: #71b7e6 solid 2px;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border-color: #c9c9c9;
}

input {
  width: 200px;
  height: 20px;
  border-radius: 6px;
  border: #71b7e6 solid 2px;
}

.regform {
  max-width: 500px;
  width: 300px;
  padding: 15px 10px;
  background-color: rgb(208, 221, 221);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 170px;
}
select {
  font-size: 18px;
  border-radius: 12px;
  border: #71b7e6 solid 2px;
}

.form-container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
label {
  display: block;
  font-size: 20px;
  margin-left: 72px;
  color: #072436;
}
input,
textarea {
  width: 100%;
}
.btn {
  border: #71b7e6 solid 4px;
  padding: 10px;
  margin-top: 5px;
  margin-left: 22%;
  border-radius: 5px;
  font-size: 16px;
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 12px 28px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
.select {
  margin-left: 45px;
}
.select1 {
  margin-left: 110px;
}
.select2 {
  margin-left: 45px;
}
.camp_container {
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  background-color: #c9c9c9;
  margin-top: 20px;
  gap: 15px;
  justify-content: center;
  height: 40px;
  font-size: 25px;
  width: 100%;
}
h1 {
  margin-left: 195px;
  font-size: 30px;
}
::placeholder {
  font-size: 14px;
}
